<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumberGuesser</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='numberguesser.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#NumberGuesser">Number Guesser</a>
    </div>

    <div id="heading">Test your number!!!
    </div>
    <div class="container">
        <div>
            <input type="file" id="imgUploader" name="imgUploader">
            <label for="imgUploader" class="upload-label">Click to upload image</label>
            <img id="preview" src="" alt="Image Preview">
        </div>
    </div>

    <div id="heading1" style="display:none;">Your number is:
        <div>
            <input type="text" id="numberOutput" placeholder="">
        </div>
    </div>
    <script src="{{ url_for('static', filename='numberguesser.js') }}"></script>
</body>
</html>
